/* GENERAL STYLING */
* {
  margin: 0;
  font-family: "quattrocento sans", sans-serif;
}

/* NAV */
#nav-bar {
  height: 5vh;
  background-color: beige;
}

/* HABIT TRACKER */
#habit-tracker {
  height: 20vh;
  background-color: tan;
  text-align: center;
}

.habit-tracker-grid {
  text-align: left;
}

/* DAILY REMINDERS */
#daily-reminders {
  height: 25vh;
  display: flex;
  justify-content: space-around;
}

#daily-reminders div {
  flex-grow: 1;
  text-align: center;
}

/* todo list */
.todos {
  text-align: center;
}

/* JOURNAL ENTRY */
#journal-entry {
  height: 50vh;
  background-color: tan;
}
