/* GENERAL STYLING */
* {
  margin: 0;
  font-family: "quattrocento sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

ul {
  padding: 0.5rem;
}

section {
  padding: 1rem;
}

button {
  font-weight: bold;
  font-size: 1rem;
  border-style: none;
  border-radius: 1rem;
  border: 1px solid black;
  cursor: pointer;
}

input {
  text-align: center;
}

/* NAV */
#nav-bar {
  height: 5vh;
  background-color: beige;
  position: relative;
  display: flex;
}
.title {
  margin: auto 0.5rem;
  font-size: 2.5rem;
}

.nav {
  position: absolute;
  bottom: 0.2rem;
  right: 0;
  padding: 0;
}

#nav-bar li {
  display: inline;
  margin: 1rem;
}

.nav-links {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

/* HABIT TRACKER */
#habit-tracker {
  background-color: tan;
  text-align: center;
}

.habit-container-header {
  display: flex;
  justify-content: space-between;
}

#habit-tracker h2 {
  text-align: left;
}

.habit-table {
  width: 98%;
  margin: auto;
  border-collapse: collapse;
}

.habit-date th {
  width: 20px;
  padding: 0;
  margin: 0;
}

.habit-tracker-grid {
  text-align: left;
}

table,
th,
td {
  border: 1px solid black;
}

.habit {
  cursor: pointer;
}

.habit:hover {
  background-color: red;
}

.habit-cell {
  border-bottom: 1px black solid;
}
.habit-cell td {
  cursor: pointer;
}

.habit-cell td:hover {
  background-color: whitesmoke;
}

.habit-checkbox.checked {
  font-weight: bold;
  color: white;
  background-color: rgb(51, 51, 51);
}

/* DAILY REMINDERS */
#daily-reminders {
  height: 25vh;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
}

.add-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.reminder-section {
  padding: 0 1rem;
  flex-grow: 1;
  text-align: center;
}
/* todo list */
.todos {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.todo-list li {
  text-align: left;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.todo-list li p,
.todo-list li span {
  cursor: pointer;
}

.todo-list li p:hover {
  text-decoration: line-through;
}

.todo-list li p.checked {
  text-decoration: line-through;
}

.todo-list li span {
  text-align: right;
}
.todo-list li span:hover {
  text-decoration: none;
}

/* GOAL */
.goals {
  display: flex;
  flex-direction: column;
}
.goal-statement-container {
  flex-grow: 1;
  display: flex;
  text-align: center;
  justify-content: center;
}

.goal-statement {
  margin: auto;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

/* JOURNAL ENTRY */
#journal-entry {
  background-color: tan;
}

.entry-date {
  font-weight: normal;
}

#journal-entry h3 {
  font-size: 1.5rem;
}

.entry {
  padding: 1rem;
}

.entry-text {
  font-size: 1rem;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
}

.end-button-container {
  text-align: center;
}
