/* GENERAL STYLING */
* {
  margin: 0;
}

/* NAV */
#nav-bar {
  height: 5vh;
  background-color: beige;
}

/* HABIT TRACKER */
#habit-tracker {
  height: 20vh;
  background-color: tan;
  text-align: center;
}

.habit-tracker-grid {
  text-align: left;
}

/* DAILY REMINDERS */
#daily-reminders {
  height: 25vh;
  display: flex;
  justify-content: space-around;
}

/* todo list */
.todo-list {
  text-align: center;
}
.todo-item {
  padding: 5px;
  width: 200px;
  margin-bottom: 10px;
}

.todo-complete:checked + .todo-item {
  background-color: black;
  color: white;
  text-decoration: line-through;
}

.todo {
  display: flex;
}

.add-todo {
  padding: 8px 14px;
  font-weight: bold;
  cursor: pointer;
}
/* JOURNAL ENTRY */
#journal-entry {
  height: 50vh;
  background-color: tan;
}
